.App, h1, h2 {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.blue {
  color: blue;
}
.App-main {
  margin: auto;
  margin-top: 30px;
  /* width: 50%; */
  /* border: 1px solid #606C70; */
  border-radius: 6px;
  padding: 10px;
}
.List-container {
  margin: auto;
  /* width: 50%; */
  width: 290px;
  border: 1px solid #606C70;
  border-radius: 6px;
  padding: 5px;
}

.List-container div {
  margin-bottom: 2px;
}
.List-container p {
  text-align: center;
  border: 1px solid #606C70;
  border-radius: 10px;
  margin:auto;
  width: 250px;
  padding: 8px;
}
.copyright {
  text-align: right;
  font-size: 75%;
  margin-bottom: -10px;
 
}
.List-container button {
  margin-left: 2px;
}

.buttons-container {
  margin: auto;
  text-align: center;
}
.buttons-container button {
  margin-right: 10px;
}
.input-field {
  margin: auto;
  text-align: center;
}
.input-field input {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
