.App, h1 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.blue {
  color: blue;
}
.App-main {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border: 3px solid #0DBDF3;
  border-radius: 6px;
  padding: 10px;
}
.List-container {
  margin: auto;
  width: 50%;
  border: 2px solid #0DBDF3;
  border-radius: 6px;
  padding: 10px;
}

.List-container p {
  text-align: center;
  border: 2px solid #606C70;
  border-radius: 6px;
  padding: 10px;
}
.copyright {
  text-align: right;
  font-size: 75%;
  margin-bottom: -10px;
 
}
.List-container button {
  margin-left: 5px;
}


.buttons-container button {
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
